# vim: set ft=zsh:

if [[ -x "/usr/bin/chezmoi" ]]; then
  alias chezmoi='EDITOR=nvim VISUAL=nvim /usr/bin/chezmoi -S {{ .chezmoi.sourceDir }} -c {{ .cm.configfile }}'
  alias cm='chezmoi'
  compdef cm=chezmoi
elif [[ -x "$HOME/.local/bin/chezmoi" ]]; then
  alias chezmoi='EDITOR=nvim VISUAL=nvim $HOME/.local/bin/chezmoi -S {{ .chezmoi.sourceDir }} -c {{ .cm.configfile }}'
elif [[ -x `which chezmoi` ]]; then
  alias chezmoi='EDITOR=nvim VISUAL=nvim chezmoi -S {{ .chezmoi.sourceDir }} -c {{ .cm.configfile }}'
fi
# alias cmt="chezmoi execute-template '{{`{{ . | toJson }}`}}' | python -m json.tool"
