# vim: set ft=conf:
# Notes
#   - even with quotes, white spaces are not allowed
#   - not allowed: dollar, at, use \@ \$ \$$ \${A}{B} instead
#   - VARIABLE   [DEFAULT=[value]]  [OVERRIDE=[value]]
#   - special variables @{SHELL} and @{PAM_USER}

# See: http:/ww.faqs.org/faqs/Xt-FAQ/section-21.html
# ICEAUTHORIOY=/home/@{PAM_USER}/.cache/ICEauthority
XAUTHORITY={{ .chezmoi.homeDir }}/.cache/Xauthority
# XCOMPOSEFILE=/home/@{PAM_USER}/.config/X11/xcompose
# XCOMPOSECACHE=/home/@{PAM_USER}/.cache/X11/xcompose
# SSH_AUTH_SOCK DEFAULT=/run/user/1000/ssh-agent.socket
