#!/usr/bin/env bash
# vim: set ft=sh:
which plasmashell >/dev/null 2>/dev/null || exit 0

wallpaper_target="$HOME/.local/share/wallpapers/background.jpg"
"{{ .chezmoi.sourceDir }}"/share/share.sh "{{ .gui.share_pass }}" "$wallpaper_target"
dbus-send --session --dest=org.kde.plasmashell --type=method_call /PlasmaShell org.kde.PlasmaShell.evaluateScript "string:
var Desktops = desktops();
for (i=0;i<Desktops.length;i++) {
        d = Desktops[i];
        d.wallpaperPlugin = \"org.kde.image\";
        d.currentConfigGroup = Array(\"Wallpaper\", \"org.kde.image\", \"General\");
        d.writeConfig(\"Image\", \"file://$wallpaper_target\");
}"

# for splash
mkdir -p "$HOME/.local/share/plasma/look-and-feel/amtare/contents/splash/images"
convert "$wallpaper_target" "$HOME/.local/share/plasma/look-and-feel/amtare/contents/splash/images/background.png"
kwriteconfig5 --file ksplashrc --group "KSplash" --key "Theme" "amtare"
