#compdef rc
# vim: set ft=zsh:

_arguments "1: :->configs" "2:filename:->subconfigs" && ret=0
case "$state" in
  configs)
    local -a rc_items
    local -a env_items
    local -a zsh_items
    local -a other_items
    local source_path=$(chezmoi source-path)
    rc_items=(~/.config/zsh/rc.d/*.zsh(:t:s/\.zsh/))
    env_items=(~/.config/zsh/environment.d/*.zsh(:t:s/\.zsh/))
    zsh_items=('lpre' 'lpost' 'lenv' 'bash' 'reload' 'z' 'env')
    cm_items=('cm' 'run' 'bin')
    other_items=('rc' 'vim' 'bindkey' 'xorg' 'tmux' 'gitignore' 'gitconfig')
    _describe -t other "Configs" zsh_items "$@"
    _describe -t other "Configs" other_items "$@"
    _describe -t other "Configs" cm_items "$@"
    _describe -t rc "ZSH rc" rc_items "$@"
    _describe -t env "ZSH env" env_items "$@"
    ;;
  subconfigs)
    local -a items
    case $words[2] in
      z)
        items=(~/.config/zsh/rc.d/*(:t:s/\.tmpl/))
        _describe -t runfiles "ZSH Configs" items "$@"
        ;;
      env)
        items=(~/.config/zsh/environment.d/*(:t:s/\.tmpl/))
        _describe -t runfiles "ZSH Environment" items "$@"
        ;;
      run)
        items=({{ .chezmoi.sourceDir }}/run_*(:t:s/\.tmpl/))
        _describe -t runfiles "Chezmoi Run Files" items "$@"
        ;;
      bin)
        items=(~/.local/bin/public/*(:t:s/\.tmpl/))
        _describe -t runfiles "Binary Files" items "$@"
        ;;
      *)
        _files
    esac
    ;;
esac
